#apparel-pill.nav-pills .nav-link.active {
    @each $name, $color in $apparel-colors {
        &##{$name}-pill {
            @extend .text-bg-#{$name}
        }
    }
}

#apparel-tab.nav-tabs .nav-link.active {
    @each $name, $color in $apparel-colors {
        &##{$name}-tab {
            @extend .border-#{$name};
            @extend .border-bottom-0;
        }
    }
}

.list-group-numbered[type="I"] {
    --list-group-numbered-style: upper-roman;
}

.list-group-numbered[type]>.list-group-item::before {
    content: counters(section, ".", var(--list-group-numbered-style)) ". ";
}


.bg-pattern {
    background-position: center;
    background-size: contain;
    background-blend-mode: overlay;
}
